#!/bin/bash
# env.sh

# Imposto la radice del percorso dell'istanza modello (es. /data/app)
export DEV_BASE="/var/www/sources"

# Imposto la radice del percorso della nuova architattura (es. /var/www/sources)
export NEW_BASE="/home/claudio/sources"

# Imposto il nome del file contenente i nomi dei package custom
CUSTOM_PACKAGES="alter-package-names"

# Imposto CVSROOT
# Il nuovo repository deve essere già inizializzato eseguendo sul server ospitante
# cd /var/lib/cvs
# cvs -d /var/lib/cvs init
export CVSROOT=":ext:nsadmin@oasisoftware.com:/var/lib/cvs"
